{% extends 'chat/base.html' %}

{% block content %}
<section class="d-flex flex-column flex-shrink-0 col-9 overflow-scroll" style="height: 100vh;">    
  <div class="row d-flex justify-content-center">    
      <div class="card" id="chat2">
        <div class="card-header d-flex justify-content-between align-items-center p-3">
          <h5 class="mb-0">HOME</h5>
        </div>
        <div class="card-body" style="position: relative;">
          <div class="divider d-flex align-items-center mb-4">
            <p class="text-center mx-3 mb-0" style="color: #a2aab7;">Today</p>
          </div>
          <div class="d-flex flex-row justify-content-start">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
              alt="avatar 1" style="width: 45px; height: 100%;">
            <div>
              <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">ようこそChatZeusへ。</p>
              <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Roomを選択して質問してみなさい。</p>
              <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">なんでも答えてやろう。</p>
              <p class="small ms-3 mb-3 rounded-3 text-muted">23:58</p>
            </div>
          </div>
          <!-- ここからチャット内容を追加していく -->

        </div>

        <form id="form">
          <div class="card-footer position-fixed col-9 text-muted d-flex justify-content-start align-items-center p-3">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"
              alt="avatar 1" style="width: 45px; height: 100%;">
            <input type="text" class="form-control form-control-lg" id="exampleFormControlInput1"
              placeholder="Type message">
            <button type="submit"><i class="fas fa-paper-plane"></i></button>
          </div>
        </form>

      </div>
  </div>
</section>
{% endblock content %}